@utility area-* {
  grid-area: --value([*]);
}

@utility text-fluid-sm {
  font-size: clamp(0.5rem, 0.409rem + 0.45vw, 0.75rem);
  line-height: var(--tw-leading, var(--text-sm--line-height) /* 1 */);
}

@utility text-fluid-base {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  line-height: var(--tw-leading, var(--text-base--line-height) /* 1 */);
}

@utility text-fluid-lg {
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  line-height: var(--tw-leading, var(--text-lg--line-height) /* 1 */);
}

@utility text-fluid-2xl {
  font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
  line-height: var(--tw-leading, var(--text-2xl--line-height) /* 1 */);
}

@utility text-fluid-3xl {
  font-size: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem);
  line-height: var(--tw-leading, var(--text-3xl--line-height) /* 1 */);
}

@utility text-fluid-4xl {
  font-size: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
  line-height: var(--tw-leading, var(--text-4xl--line-height) /* 1 */);
}

@utility text-fluid-5xl {
  font-size: clamp(2rem, 1.591rem + 2.05vw, 3.125rem);
  line-height: var(--tw-leading, var(--text-5xl--line-height) /* 1 */);
}

@utility text-fluid-6xl {
  font-size: clamp(3rem, 2.636rem + 1.82vw, 4rem);
  line-height: var(--tw-leading, var(--text-6xl--line-height) /* 1 */);
}

@utility clip-angle {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 120px), 0 100%);
}

@utility clip-angle-rev {
  clip-path: polygon(0 120px, 100% 0, 100% 100%, 0 100%);
}
