@layer objects {
  .wrapper {
    display: grid;
    grid-template-columns:
      [full] 1fr 32px [header sidebar] minmax(240px, auto)
      [sidebar-end content] minmax(auto, 1820px)
      [header-end content-end] 32px 1fr [full-end];
    grid-template-rows:
      [header]
      minmax(110px, auto)
      [header-end sidebar content] 1fr [sidebar-end content-end];
    min-height: 100vh;
  }
}
