@layer objects {
  .wrapper {
    display: grid;
    grid-template-columns:
      [full] 1fr [header sidebar] auto [sidebar-end content] minmax(auto, 960px)
      [header-end content-end] 1fr [full-end];
    grid-template-rows:
      [header]
      minmax(110px, auto)
      [header-end sidebar content] 1fr [sidebar-end content-end];
    min-height: 100vh;
    column-gap: 60px;
  }
}
